
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-grande: 'TT Hoves Pro Trial', sans-serif;
    --font-pequena: 'ClashGrotesk-Light', sans-serif;
    --color-black: #000;
    --color-gray1: #3d4143;
    --color-gray2: #9c9d9d;
    --color-white: #f6f6f6;
    --color-destaque1: #e7fc00;
    --color-destaque2: #728e6f;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-black);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-pequena);
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    transition: transform 0.3s ease-out;
}

.header {
    user-select: none;
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 2rem 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    transition: top 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, .9); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
}

.logo {
    width: 100%;
}

.logo img {
    width: 150px;
}

/* Menu */
.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    z-index: 100;
}

.hamburger {
    cursor: pointer;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    height: 3em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}